---
layout: default
title: Gentle Within | Holistic Psychotherapy in NYC & NJ
description: Trauma-informed psychotherapy, Ayurvedic consultations, and organizational consulting for stress, anxiety, and trauma in New York & New Jersey.
image: /uploads/gentle-within-1.jpg
header: 
  title: Gentle Within
  subtitle: A holistic mental health practice
  images: 
    background-image: 
      image_path: /uploads/background/gentle-within-background-16.jpg
      image_focus: left
    featured-image: 
      image_path: /uploads/gentle-within-1.jpg
      image_focus:
      image_description: 
who-you-serve:
  heading_html: "Who We <em>Help</em>"
  description_html: |
    <p>Gentle Within is for individuals seeking compassionate support to overcome life’s challenges. We work with people who are struggling with stress, anxiety, trauma, or emotional blocks, offering a safe space for healing and personal growth. If you’re ready to work through these challenges and create lasting change, Gentle Within is here to help.</p>
approach:
  image: 
    image_path: /uploads/temporary.jpg
    image_focus: 
  approaches: 
   - title: Trauma-Informed Care
     description: This approach recognizes the widespread impact of trauma on individuals and focuses on creating a safe, supportive environment for healing. It involves understanding the effects of trauma and integrating this awareness into the therapy process, ensuring that clients are not re-traumatized during their healing journey.
   - title: Dialectical Behavior Therapy (DBT)
     description: DBT is an evidence-based therapy designed to help individuals manage emotions, improve relationships, and reduce self-destructive behaviors. It emphasizes mindfulness, emotional regulation, distress tolerance, and interpersonal effectiveness.
   - title: Cognitive Behavioral Therapy (CBT)
     description: CBT focuses on identifying and changing negative thought patterns and behaviors. By addressing cognitive distortions, it helps develop healthier ways of thinking, which can lead to improved emotional regulation and coping mechanisms. It's often used to treat anxiety, depression, and other mood disorders.
   - title: Cognitive Processing Therapy (CPT)
     description: CPT is a specific form of cognitive-behavioral therapy developed to help individuals process and reframe traumatic experiences. It is especially effective for individuals dealing with post-traumatic stress disorder (PTSD) by helping them challenge unhelpful beliefs related to trauma and develop healthier thought patterns.
   - title: Holistic Approach (Incorporating Ayurveda)
     description: Gentle Within integrates principles from Ayurveda, an ancient system of medicine that emphasizes balance and well-being of the mind, body, and spirit. This approach might include mindfulness practices, diet, and lifestyle modifications designed to support emotional and physical healing. It recognizes that true healing comes from addressing the whole person, not just their symptoms.
about: 
  heading: Meet Amy
  subtitle: Licensed Holistic Psychotherapist
  description_html: |
    <p>Amy Pichardo is a Licensed Clinical Social Worker (LCSW) based in New York City and New Jersey. She offers individual counseling for depression, anxiety, and co-occurring disorders, as well as group therapy for individuals navigating divorce, separation, or marital infidelity. Her therapeutic approach is rooted in trauma-informed care and incorporates evidence-based practices such as Dialectical Behavior Therapy (DBT), Cognitive Behavioral Therapy (CBT), and Cognitive Processing Therapy (CPT). Additionally, Amy integrates Ayurvedic principles to promote overall well-being, addressing the whole person—mind, body, and spirit.</p>
    <p>With eight years of clinical experience, Amy has worked in various settings, including inpatient and outpatient facilities, residential programs, and emergency departments. She has expertise in areas such as self-harm behavior, trauma and abuse, suicide assessment and risk reduction, group psychotherapy, and couples conflict. Amy also provides clinical and administrative supervision to social work students, interns, and professionals, supporting their professional development and growth.</p>
    <p>In addition to her therapeutic services, Amy offers coaching for individuals seeking clinical hours toward licensure, guiding them through case documentation, clinical practices, and client scenarios to meet licensure requirements.</p>
    <p>Amy holds a Master's Degree in Social Work from Wurzweiler School of Social Work at Yeshiva University and a Bachelor's Degree from New York University (NYU).</p>
  button: 
    text: About Amy
    url: /about
  image: 
    image_path: /uploads/temporary.jpg
    image_description: Image Description
services: 
  heading_html: How I Can <em>Serve</em> You
  description_html: |
    <p>Whether you're just starting your healing journey or ready to dive deeper, I offer a range of services designed to meet you where you are. Depending on your goals here’s how we can work together:</p>
  services: 
   - title: Psychotherapy
     description: Individual therapy grounded in depth, embodiment, and cultural understanding
     url: /psychotherapy
     featured_image: /uploads/gentle-within-4.jpg
   - title: Ayurvedic Consultations
     description: Traditional South Asian wellness rooted in balance and body-mind-spirit harmony
     url: /ayurvedic-consultations
     featured_image: /uploads/gentle-within-8.jpg
   - title: Organizational Consulting
     description: Bridging mental health, equity, and cultural insight in institutions
     url: /organizational-consulting
     featured_image: /uploads/gentle-within-10.jpg
testimonials: 
  testimonials: 
   - testimonial_html: |
       <p>I've been working with Amy for 3 years and have found the experience to be incredibly helpful. Amy creates a safe and welcoming environment that allows my family and daughter to open up and discuss our thoughts and feelings without judgment. Amy listens attentively, offers insightful feedback, and provides practical strategies that I can implement in my daily life. What I appreciate most about Amy is her ability to make my daughter feel heard and understood. Whether she is dealing with anxiety, stress, or just needs someone to talk to, she always provides a compassionate and empathetic response. Additionally, Amy is highly professional, always flexible when scheduling sessions, which makes it easy to fit therapy into my routine. I would highly recommend her to anyone seeking support or looking to improve their mental health. The family center is highly recommended</p>
     author: Nadia
   - testimonial_html: |
      <p>Working with Amy has had a tremendous impact on my day to day life. I have learned tons of coping mechanisms to manage stress and anxiety. She offers a new approach by being a gentle listener while also providing insightful new perspectives to deal with mental health.</p>
     author: Tayra
   - testimonial_html: |
      <p>Can I just say thank you, no matter all the crazy thoughts I get dancing around my head you always find a way to help me make sense of them and i really appreciate it! No matter whether I'm misreading and misunderstanding absolutely everything you never make me feel crazy and that's a job on its own. Thank you for allowing me to decompress my million thoughts and still keeping me sane. You get a 10/10 Ms. Pichardo, all jokes aside, every patient deserves a therapist like you.</p>
     author: Laura
  background-image: 
    image_path: /uploads/background/bg-midnight-3.png
    image_focus: center left
cta: 
  heading: Ready to begin your healing journey?
  description_html: |
    <p>Whether you're feeling stuck, overwhelmed, or simply ready for change, I’m here to support you. Click below to schedule a free 30 min consultation or learn more about how we can work together. You don’t have to navigate this alone.</p>
  button: 
    text: Schedule a free Consultation
    url: /discover
  images: 
    background-image: 
      image_path: /uploads/background/gentle-within-background-14.jpg
      image_focus: right
    featured-image: 
      image_path: /uploads/gentle-within-3.jpg
      image_description: Image Description
seo:
  title: Gentle Within | Holistic Psychotherapy in NYC & NJ
  description: Trauma-informed psychotherapy, Ayurvedic consultations, and organizational consulting for stress, anxiety, and trauma in New York & New Jersey.
  social_image: /uploads/gentle-within-17.png
  keywords:
    - somatic therapy nyc
    - trauma informed psychotherapy
    - ayurvedic counseling
    - anxiety therapy new york
    - licensed psychotherapist nj
  hide-from-google: true
---


<!-- Hero Banner -->
<section class="grid md:grid-cols-2">

  <div class="grid lg:grid-cols-2">

    <!-- Image / Left Column -->
    <div class="relative w-[65%] md:w-[75%] lg:w-[100%] bg-image-style h-[50vh] md:min-h-[80vh] bg-overlay light" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.header.images.background-image.image_path }}'); background-position: {{ page.header.images.background-image.image_focus }};"></div>
  </div>

  <!-- Right Column -->
  <div class="pt-24 pb-20 px-8 lg:px-0 lg:mr-12 flex items-center md:ml-12">
    <div class="lg:w-[60%]" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
      <h1 class="font-serif text-dark text-3xl mb-2">{{ page.header.title }}</h1>
      <p class="text-[1.2rem]">{{ page.header.subtitle }}</p>
      {% include button-cta.html %}
    </div>
  </div>

  <!-- Floating Image -->
  <div class="bg-image-style absolute top-[10%] md:top-[30%] lg:top-[27%] left-[20%] md:left-[10%] lg:left-[18%] z-10 h-[45vh] lg:h-[60vh] w-[70vw] md:w-[45vw] lg:w-[25vw] rounded-t-[15rem]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500" style="background-image: url('{{ page.header.images.featured-image.image_path }}');"></div>

</section>


<!-- Who You Serve -->
<section class="bg-midnight section-padding">
  <div class="text-center lg:w-[80%] mx-auto text-light" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
    <h2 class="font-serif text-2xl capitalize mb-4">{{ page.who-you-serve.heading_html }}</h2>
    <div class="mb-4">
      {{ page.who-you-serve.description_html }}
    </div>
    {% include button-cta.html %}
  </div>
</section>


<!-- About Section -->
<section id="about" class="grid md:grid-cols-2 lg:gap-20 bg-main py-12 md:py-20 lg:py-28 lg:px-20" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">

  <!-- Left Column / Text -->
  <div class="flex items-center px-8 lg:px-0">
    <div>
      <h2 class="font-serif text-dark text-2xl">{{ page.about.heading }}</h2>
      <p class="uppercase mb-4">{{ page.about.subtitle }}</p>
      <div>
        {{ page.about.description_html }}
      </div>
      <!-- <a class="button" href="{{ page.about.button.url }}">{{ page.about.button.text }}</a> -->
    </div>
  </div>

  <!-- Right Column / Image (with floating illustration) -->
  <div class="flex items-center">
    <img class="order-first md:order-last mt-8 lg:mt-0 px-2 lg:px-0" src="/uploads/temporary-about.png">
  </div>

</section>


<!-- Work with Me Section -->
<section id="services" class="bg-light section-padding" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
  <div class="text-center">
    <h2 class="font-serif text-dark text-2xl">{{ page.services.heading_html }}</h2>
    <div class="mb-12 lg:w-[80%] mx-auto">
      {{ page.services.description_html | markdownify }}
    </div>
  </div>

  <div class="grid lg:grid-cols-3">
    {% for item in page.services.services %}
    <div class="text-center lg:px-12 mb-16 last:mb-0 lg:mb-0">
      <div class="bg-image-style aspect-square min-h-[30vh] mb-8" style="background-image: url('{{ item.featured_image }}');"></div>
      <h3 class="font-serif text-dark text-lg">{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <a class="link" href="{{ item.url }}">Learn More</a>
    </div>
    {% endfor %}

  </div>
</section>


<!-- Testimonials Section -->
<section class="bg-midnight text-white py-12 lg:py-28 px-8 lg:px-20 bg-image-style" data-aos="fade" data-aos-offset="0" data-aos-duration="3000" style="background-image: url('{{ page.testimonials.background-image.image_path }}'); background-position: {{ page.testimonials.background-image.image_focus }};">
  <div class="testimonial-container">
    {% for item in page.testimonials.testimonials %}
    <div class="testimonial-item text-center lg:w-[80%] mx-auto">
        <p class="text-center"><em>{{ item.testimonial_html }}</em></p>
        <p class="text-right">{{ item.author }}</p>
    </div>
    {% endfor %}
  </div>
</section>


<!-- Call to Action -->
<section class="relative md:grid md:grid-cols-4">

  <!-- Left Column / Text -->
  <div class="col-span-3 flex items-center my-28 md:my-0">
    <div class="px-12 md:w-[80%] lg:px-0 lg:ml-20" data-aos="fade" data-aos-duration="3000">
      <h2 class="font-serif text-dark text-2xl">{{ page.cta.heading }}</h2>
      <div class="w-[80%]">
        {{ page.cta.description_html }}
      </div>
      {% include button-cta.html %}
    </div>
  </div>

  <!-- Right Column / Image -->
  <div class="bg-image-style h-[50vh] lg:min-h-[70vh] bg-overlay medium w-[60%] md:w-[100%] ml-auto" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.cta.images.background-image.image_path }}'); background-position: {{ page.cta.images.background-image.image_path }};"></div>

  <!-- Floating Image -->
  <div class="absolute bottom-[11%] md:bottom-[20%] right-[15%] z-10 bg-image-style aspect-square min-h-[34vh] md:min-h-[28vh] lg:min-h-[40vh]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500" style="background-image: url('{{ page.cta.images.featured-image.image_path }}');"></div>

</section>
