---
layout: default
header: 
  title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
  subtitle: eiusmod tempor incididunt ut labore
  button: 
    text: Book a Discovery Call
    url: 
  images: 
    background-image: 
      image_path: /uploads/temporary.jpg
      image_focus: left
    featured-image: 
      image_path: /uploads/temporary.jpg
      image_focus:
      image_description: 
who-you-serve:
  heading_html: "A little <em>something</em> about who you serve"
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
  button:
    text: Book a Discovery Call
    url:     
approaches: 
 - title: Mental Health Therapy & Psychotherapy
   description: explore deep-seated emotions and behaviors
 - title: Trauma-Focused Cognitive Behavioral Thearpy (Tf-Cbt)
   description: Heal from past trauma
 - title: Cognitive Processing Thearpy (Cpt)
   description: Modify distorted throughs and beliefs related to trauma
 - title: Dialectical Behavior Therapy (Dbt)
   description: Intense emotions, devleoping healthier coping strategies, and improving interpersonal relationships
about: 
  heading: Meet Amy
  subtitle: Licensed therapist in New York
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  button: 
    text: About Amy
    url: /about
  image: 
    image_path: /uploads/temporary.jpg
    image_description: Image Description
services: 
  heading_html: "Work <em>With Me</em>"
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
  services: 
   - title: One to One Therapy
     description: Sed ut perspiciatis unde omnis iste natus error sit voluptatem
     url: 
     featured_image: /uploads/temporary.jpg
   - title: Community Support Groups
     description: Break the cycle of depression and addressing the effects of domestic violence
     url: 
     featured_image: /uploads/temporary.jpg
   - title: Coures for Msw Students
     description: Succeed in your LMSW and LCSW exams
     url: 
     featured_image: /uploads/temporary.jpg
testimonials: 
 - testimonial_html: |
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
     <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
   author: Mary Jane
cta: 
  heading: Inviting Call To Action
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
  button: 
    text: Book a Discovery Call
    url: /discovery
  images: 
    background-image: 
      image_path: /uploads/temporary.jpg
      image_focus: right
    featured-image: 
      image_path: /uploads/temporary.jpg
      image_description: Image Description
seo:
  title: Gentle Within
  description: 
  keywords:
  social_image:
  hide-from-google: true
---

<!-- Site Header -->
<section>
  <p>Gentle Within</p>
  <nav>
  {% for item in site.data.navigation.header %}
    <a href="{{ item.url }}" class="py-1 px-8 lg:px-16">{{ item.title }}</a>
  {% endfor %}
  </nav>
</section>


<!-- Hero Banner -->
<section class="grid grid-cols-3">

  <!-- Image / Left Column -->
  <div class="bg-image-style min-h-[80vh]" style="background-image: url('{{ page.header.images.background-image.image_path }}'); background-position: {{ page.header.images.background-image.image_focus }};"></div>

  <!-- Right Column -->
  <div class="col-span-2">
    <div>
      <h1>{{ page.header.title }}</h1>
      <p>{{ page.header.subtitle }}</p>
      <a class="button" href="{{ page.header.button.url }}">{{ page.header.button.text }}</a>
    </div>
  </div>

  <!-- Floating Image -->
  <div class="absolute top-24 right-24 z-10">
    <img src="{{ page.header.images.featured-image.image_path }}" alt="{{ page.header.images.featured-image.image_description }}" class="w-40 h-auto">
  </div>

</section>


<!-- Who You Serve -->
<section>
  <div>
    <h2>{{ page.who-you-serve.heading_html }}</h2>
    <div>
      {{ page.who-you-serve.description_html | markdownify }}
    </div>
    <a class="button" href="{{ page.who-you-serve.button.url }}">{{ page.who-you-serve.button.text }}</a>
  </div>
</section>


<!-- Healing Approaches -->
<section class="grid grid-cols-2">

  <!-- Left Column / Image -->
  <div class="bg-image-style"></div>

  <!-- Right Column / Text -->
  <div>
  {% for item in page.approaches %}
    <div>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  {% endfor %}
  </div>
</section>


<!-- About Section -->
<section class="grid grid-cols-2">

  <!-- Left Column / Text -->
  <div>
    <h2>{{ page.about.heading }}</h2>
    <p>{{ page.about.subtitle }}</p>
    <div>
      {{ page.about.description_html | markdownify }}
    </div>
    <a class="button" href="{{ page.about.button.url }}">{{ page.about.button.text }}</a>
  </div>

  <!-- Right Column / Image -->
  <div>
    <img src="{{ page.about.image.image_path }}" alt="{{ page.about.image.image_description }}">
  </div>
</section>


<!-- Work with Me Section -->
<section>
  <div>
    <h2>{{ page.services.heading_html }}</h2>
    <div>
      {{ page.services.description_html | markdownify }}
    </div>
  </div>

  <div class="flex justify-between">
    {% for item in page.services.services %}
    <div>
      <div class="bg-image-style min-h-[30vh]" style="background-image: url('{{ item.featured_image }}');"></div>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <a class="link" href="{{ item.url }}">Learn More</a>
    </div>
    {% endfor %}

  </div>
</section>


<!-- Testimonials Section -->
<section>
  <div class="testimonial-container">
    {% for item in page.testimonials %}
    <div class="testimonial-item">
        <p class="text-center"><em>"{{ item.testimonial_html }}"</em></p>
        <p class="text-right">{{ item.author }}</p>
    </div>
    {% endfor %}
  </div>
</section>


<!-- Call to Action -->
<section class="grid grid-cols-4">

  <!-- Left Column / Text -->
  <div class="col-span-3">
    <h2>{{ page.cta.heading }}</h2>
    <div>
      {{ page.cta.description_html | markdownify }}
    </div>
    <a class="button" href="{{ page.cta.button.url }}">{{ page.cta.button.text }}</a>
  </div>

  <!-- Right Column / Image -->
  <div class="bg-image-style" style="background-image: url('{{ page.cta.images.background-image.image_path }}'); background-position: {{ page.cta.images.background-image.image_path }};"></div>

  <!-- Floating Image -->
  <div class="absolute bottom-24 right-24 z-10">
    <img src="{{ page.cta.images.featured-image.image_path }}" alt="{{ page.cta.images.featured-image.image_description }}" class="w-40 h-auto">
  </div>
</section>
