---
layout: default
header: 
  title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
  subtitle: eiusmod tempor incididunt ut labore
  button: 
    text: Book a Discovery Call
    url: 
  images: 
    background-image: 
      image_path: /uploads/temporary.jpg
      image_focus: left
    featured-image: 
      image_path: /uploads/temporary.jpg
      image_focus:
      image_description: 
who-you-serve:
  heading_html: "A little <em>something</em> about who you serve"
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
  button:
    text: Book a Discovery Call
    url:     
approach:
  image: 
    image_path: /uploads/temporary.jpg
    image_focus: 
  approaches: 
   - title: Mental Health Therapy & Psychotherapy
     description: explore deep-seated emotions and behaviors
   - title: Trauma-Focused Cognitive Behavioral Thearpy (Tf-Cbt)
     description: Heal from past trauma
   - title: Cognitive Processing Thearpy (Cpt)
     description: Modify distorted throughs and beliefs related to trauma
   - title: Dialectical Behavior Therapy (Dbt)
     description: Intense emotions, devleoping healthier coping strategies, and improving interpersonal relationships
   - title: Mental Health Therapy & Psychotherapy
     description: explore deep-seated emotions and behaviors
   - title: Trauma-Focused Cognitive Behavioral Thearpy (Tf-Cbt)
     description: Heal from past trauma
about: 
  heading: Meet Amy
  subtitle: Licensed therapist in New York
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  button: 
    text: About Amy
    url: /about
  image: 
    image_path: /uploads/temporary.jpg
    image_description: Image Description
services: 
  heading_html: "Work <em>With Me</em>"
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
  services: 
   - title: One to One Therapy
     description: Sed ut perspiciatis unde omnis iste natus error sit voluptatem
     url: 
     featured_image: /uploads/temporary.jpg
   - title: Community Support Groups
     description: Break the cycle of depression and addressing the effects of domestic violence
     url: 
     featured_image: /uploads/temporary.jpg
   - title: Coures for Msw Students
     description: Succeed in your LMSW and LCSW exams
     url: 
     featured_image: /uploads/temporary.jpg
testimonials: 
  testimonials: 
   - testimonial_html: |
       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
       <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
     author: Mary Jane
   - testimonial_html: |
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
      <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
     author: Mary Poppins
  background-image: 
    image_path: /uploads/temporary-testimonials.jpg
    image_focus: bottom right
cta: 
  heading: Inviting Call To Action
  description_html: |
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
  button: 
    text: Book a Discovery Call
    url: /discovery
  images: 
    background-image: 
      image_path: /uploads/temporary.jpg
      image_focus: right
    featured-image: 
      image_path: /uploads/temporary.jpg
      image_description: Image Description
seo:
  title: Gentle Within
  description: 
  keywords:
  social_image:
  hide-from-google: true
---


<!-- Hero Banner -->
<section class="grid grid-cols-2">

  <div class="grid grid-cols-2">
    <!-- Image / Left Column -->
    <div class="relative bg-image-style min-h-[80vh] bg-overlay light" style="background-image: url('{{ page.header.images.background-image.image_path }}'); background-position: {{ page.header.images.background-image.image_focus }};"></div>
  </div>

  <!-- Right Column -->
  <div class="mr-12 flex items-center">
    <div class="w-[60%]">
      <h1 class="font-serif text-dark text-2xl">{{ page.header.title }}</h1>
      <p class="text-[1.2rem]">{{ page.header.subtitle }}</p>
      <a class="button" href="{{ page.header.button.url }}">{{ page.header.button.text }}</a>
    </div>
  </div>

  <!-- Floating Image -->
  <div class="bg-image-style absolute top-[25%] left-[18%] z-10 h-[60vh] w-[25vw] rounded-t-[15rem]" style="background-image: url('{{ page.header.images.featured-image.image_path }}');"></div>

</section>


<!-- Who You Serve -->
<section class="bg-light py-10p px-20">
  <div class="text-center w-[80%] mx-auto">
    <h2 class="font-serif text-dark text-2xl capitalize mb-4">{{ page.who-you-serve.heading_html }}</h2>
    <div class="mb-4">
      {{ page.who-you-serve.description_html | markdownify }}
    </div>
    <a class="button" href="{{ page.who-you-serve.button.url }}">{{ page.who-you-serve.button.text }}</a>
  </div>
</section>


<!-- Healing Approaches -->
<section class="grid grid-cols-2 gap-20 py-10p px-20">

  <!-- Left Column / Image -->
  <div class="bg-image-style" style="background-image: url('{{ page.approach.image.image_path }}'); background-position: {{ page.approach.image.image_focus }};"></div>

  <!-- Right Column / Text -->
  <div>
  {% for item in page.approach.approaches %}
    <div class="border-b border-dark mb-12 last:mb-0">
      <h3 class="font-serif text-dark text-lg tracking-wide">{{ item.title }}</h3>
      <p class="mb-4">{{ item.description }}</p>
    </div>
  {% endfor %}
  </div>
</section>


<!-- About Section -->
<section class="grid grid-cols-2 gap-20 bg-main py-10p px-20">

  <!-- Left Column / Text -->
  <div class="flex items-center">
    <div>
      <h2 class="font-serif text-dark text-2xl">{{ page.about.heading }}</h2>
      <p class="uppercase mb-4">{{ page.about.subtitle }}</p>
      <div>
        {{ page.about.description_html }}
      </div>
      <a class="button" href="{{ page.about.button.url }}">{{ page.about.button.text }}</a>
    </div>
  </div>

  <!-- Right Column / Image (with floating illustration) -->
  <img src="/uploads/temporary-about.png">

</section>


<!-- Work with Me Section -->
<section class="bg-light py-10p px-20">
  <div class="text-center">
    <h2 class="font-serif text-dark text-2xl">{{ page.services.heading_html }}</h2>
    <div class="mb-12 w-[80%] mx-auto">
      {{ page.services.description_html | markdownify }}
    </div>
  </div>

  <div class="grid grid-cols-3">
    {% for item in page.services.services %}
    <div class="text-center px-12">
      <div class="bg-image-style aspect-square min-h-[30vh] mb-8" style="background-image: url('{{ item.featured_image }}');"></div>
      <h3 class="font-serif text-dark text-lg">{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <a class="link" href="{{ item.url }}">Learn More</a>
    </div>
    {% endfor %}

  </div>
</section>


<!-- Testimonials Section -->
<section class="bg-dark text-white py-10p px-20 bg-image-style" style="background-image: url('{{ page.testimonials.background-image.image_path }}'); background-position: {{ page.testimonials.background-image.image_focus }};">
  <div class="testimonial-container">
    {% for item in page.testimonials.testimonials %}
    <div class="testimonial-item text-center w-[80%] mx-auto">
        <p class="text-center"><em>{{ item.testimonial_html }}</em></p>
        <p class="text-right">{{ item.author }}</p>
    </div>
    {% endfor %}
  </div>
</section>


<!-- Call to Action -->
<section class="relative grid grid-cols-4">

  <!-- Left Column / Text -->
  <div class="col-span-3 flex items-center">
    <div class="ml-20">
      <h2 class="font-serif text-dark text-2xl">{{ page.cta.heading }}</h2>
      <div class="w-[80%]">
        {{ page.cta.description_html | markdownify }}
      </div>
      <a class="button" href="{{ page.cta.button.url }}">{{ page.cta.button.text }}</a>
    </div>
  </div>

  <!-- Right Column / Image -->
  <div class="bg-image-style min-h-[70vh] bg-overlay medium" style="background-image: url('{{ page.cta.images.background-image.image_path }}'); background-position: {{ page.cta.images.background-image.image_path }};"></div>

  <!-- Floating Image -->
  <div class="absolute bottom-[20%] right-[15%] z-10 bg-image-style aspect-square min-h-[40vh]" style="background-image: url('{{ page.cta.images.featured-image.image_path }}');"></div>

</section>
