/* Fonts
font-family: europa, sans-serif; 300, 400, 700
font-family: ibarra-real-nova, serif; 400, 700
 */


/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --featured: #B37B64;
    --dark: #66766C;
    --x-dark: #141715;
    --main: #CFD1C6;
    --light: #F2F2F0;
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    html {
        @apply scroll-smooth
    }

    body {
        @apply font-sans font-light text-x-dark antialiased
    }

    nav a:hover {
        @apply text-feature transition duration-500
    }

    footer nav a {
        @apply font-serif text-dark
    }

    p {
        @apply mb-4
    }

    p:last-child {
        @apply mb-0
    }

    ul {
        @apply list-disc marker:text-feature
    }

    li {
        @apply marker:text-feature
    }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    /* Padding */
    .section-padding {
        @apply py-20 lg:py-28 px-8 lg:px-20
    }

    /* Buttons */
    .button {
        @apply bg-feature text-white py-2 px-4 inline-block font-serif tracking-wider text-lg mt-4 capitalize
    }

    .button:hover {
        @apply bg-feature/75 transition duration-500
    }

    .button-cookies {
        @apply bg-feature text-white py-2 px-4 inline-block tracking-wider text-sm font-serif hover:bg-feature/75 hover:transition hover:duration-500 mt-4
    }

    .link {
        @apply lowercase mb-2 border-b border-feature text-feature
    }

    .link:hover {
        @apply text-feature/65 border-feature/65 transition duration-500
    }

    .fa-brands {
        @apply text-xl
    }

    /* Images */
    .bg-image-style {
        @apply bg-cover bg-no-repeat bg-center
    }

    /* SVG */
    /* Background SVGs */
    .svg-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    /* Inline SVGs (Illustrations/Graphics) */
    .svg-graphic {
        width: 100%;
        height: auto;
        display: block;
        /* Prevents extra spacing issues */
        fill: currentColor;
        /* Inherits text color for easy styling */
    }

    /* Overlays */
    .bg-overlay {
        position: relative;
    }

    .bg-overlay::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .bg-overlay>* {
        position: relative;
    }

    .bg-overlay.light::before {
        background-color: rgba(207, 209, 198, 0.3);

    }

    .bg-overlay.medium::before {
        background-color: rgba(207, 209, 198, 0.5);

    }

    .bg-overlay.dark::before {
        background-color: rgba(207, 209, 198, 0.7);

    }

    /* Mobile Menu */
    .mobile-button {
        position: fixed;
        top: 3.2vh;
        right: 2vh;
        z-index: 40;
        padding: 0.5rem;
    }

    .mobile-button span {
        width: 2rem;
        border: 0.5px solid var(--dark);
        background-color: var(--dark);
        display: block;
        border-radius: 22px;
        transition: 2s;
    }

    .mobile-button.active span {
        border-color: var(--dark);
        background-color: var(--dark);
    }

    .mobile-top,
    .mobile-bottom {
        position: absolute;
    }

    .mobile-top {
        top: -02px;
    }

    .mobile-bottom {
        bottom: -02px;
    }

    .mobile-button.active .mobile-top {
        border-color: var(--featured);
        position: absolute;
        top: 8px;
        transform: rotateZ(45deg);
    }

    .mobile-button.active .mobile-middle {
        /*   transform: rotateZ(270deg); */
        border-color: var(--featured);
        background-color: var(--featured);
    }

    .mobile-button.active .mobile-bottom {
        border-color: var(--featured);
        position: absolute;
        bottom: 8px;
        transform: rotateZ(-45deg);
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        top: 0vh;
        left: 100vw;
        right: -100vw;
        bottom: 0vh;
        background-color: var(--main);
        padding: 5%;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        z-index: 20;
        transition: 1s;
        align-content: space-around;
        justify-content: space-around;
        flex-direction: column;
    }

    .mobile-menu.active {
        @apply left-0 md:left-[50%] right-0
    }

    .mobile-menu a {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 300;
        color: var(--x-dark);
        display: block;
        padding: 0.5rem 1rem;
        text-align: center;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .mobile-menu a:hover {
        color: var(--featured);
    }

    /* Slick */
    ul.slick-dots li button::before { color: var(--featured); opacity: .25 !important; }
    ul.slick-dots li button:hover::before { color: var(--featured); opacity: .5 !important; }
    ul.slick-dots li.slick-active button::before { color: var(--featured); opacity: .75 !important; }






    /* Forms */
    .focus-main {
        @apply focus:outline-none focus:ring-2 focus:ring-main
    }

}