/* Fonts
font-family: europa, sans-serif; 300, 400, 700
font-family: ibarra-real-nova, serif; 400, 700
 */


/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    html {
        @apply scroll-smooth
    }

    body {
        @apply font-sans font-light text-x-dark antialiased
    }

    nav a:hover {
        @apply text-feature transition duration-500
    }

    footer nav a {
        @apply font-serif text-dark
    }

    p {
        @apply mb-4
    }

    p:last-child {
        @apply mb-0
    }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    /* Buttons */
    .button {
        @apply bg-feature text-white py-2 px-4 inline-block font-serif tracking-wider text-lg mt-4
    }

    .button:hover {
        @apply bg-feature/75 transition duration-500
    }

    .link {
        @apply lowercase mb-2 border-b border-feature text-feature
    }

    .link:hover {
        @apply text-feature/65 border-feature/65 transition duration-500
    }

    .fa-brands {
        @apply text-xl
    }

    /* Images */
    .bg-image-style {
        @apply bg-cover bg-no-repeat bg-center
    }

    /* Forms */
    .focus-main {
        @apply focus:outline-none focus:ring-2 focus:ring-main
    }

}