<form class="mt-8" name="contact" method="post" data-netlify="" action="/contact-thank-you.html" onSubmit="submit"
    data-netlify-honeypot="bot-field">
    <input class="hidden" name="bot-field">

    <div class="grid sm:grid-cols-2 gap-2 mb-2">
        <div>
            <input type="text" id="first-name" name="first-name" required placeholder="First Name"
                class="border border-dark bg-transparent w-full p-2 placeholder:text-dark rounded-none focus:border-feature focus:ring-feature focus:outline-none">
        </div>

        <div>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name"
                class="border border-dark bg-transparent w-full p-2 placeholder:text-dark rounded-none focus:border-feature focus:ring-feature focus:outline-none">
        </div>
    </div>

    <div class="mb-2">
        <input type="email" id="email" name="email" required placeholder="Email"
            class="border border-dark bg-transparent w-full p-2 font-sans placeholder:text-dark rounded-none focus:border-feature focus:ring-feature focus:outline-none">
    </div>

    <div>
        <textarea id="message" name="message" required rows="8" placeholder="Message"
            class="border border-dark bg-transparent w-full p-2 placeholder:text-dark rounded-none focus:border-feature focus:ring-feature focus:outline-none"></textarea>
    </div>

    <div class="flex justify-start">
        <button type="submit" class="button mt-4">Send</button>
    </div>
</form>