<!-- Site Header -->
<section class="hidden md:block bg-image-style py-8 border-b border-dark text-center"
    style="background-image: url('/uploads/illustrations/1.svg');">
    <a class="font-serif text-dark text-2xl" href="/index.html">Gentle Within</a>
    <nav class="mt-4">
        {% for item in site.data.navigation.header %}
        <a href="{{ item.url }}" class="px-2 mx-2 {% if forloop.last %}text-feature{% endif %}">{{ item.title }}</a>
        {% endfor %}
    </nav>
</section>

<section class="md:hidden">
    <div class="mobile-button">
        <span class="mobile-top"></span>
        <span class="mobile-middle"></span>
        <span class="mobile-bottom"></span>
    </div>

    <nav class="mobile-menu">
        {% for item in site.data.navigation.header %}
        <a href="{{ item.url }}" class="px-2 mx-2 {% if forloop.last %}text-feature{% endif %}">{{ item.title }}</a>
        {% endfor %}
    </nav>
</section>