<!-- Site Footer -->
<footer class="grid md:grid-cols-3 bg-main py-12 px-8 md:px-12 lg:px-20">

    <!-- Left Column / Footer Navigation -->
    <div class="md:col-span-2 grid md:grid-cols-2 gap-4">

        <!-- Services -->
        <div>
            <nav class="space-y-2">
                {% for item in site.data.navigation.footer.services %}
                <a href="{{ item.url }}" class="block hover:text-feature hover:transition hover:duration-500">{{ item.title }}</a>
                {% endfor %}
            </nav>
        </div>

        <!-- Key Pages -->
        <div>
            <nav class="space-y-2">
                {% for item in site.data.navigation.footer.pages %}
                <a href="{{ item.url }}" class="block hover:text-feature hover:transition hover:duration-500">{{ item.title }}</a>
                {% endfor %}
            </nav>
        </div>

    </div>

    <!-- Right Column / Socials -->
    <div class="col-span-1 text-center md:text-right mt-8 md:mt-0">
        <a class="font-serif text-2xl text-dark hover:text-feature hover:transition hover:duration-500" href="/index.html">Gentle Within</a>
        
        <div class="flex space-x-4 justify-center md:justify-end">
            
            <a href="https://www.facebook.com/{{ site.data.site-settings.social.facebook_username }}/"><i class="fa-brands fa-facebook text-dark hover:text-feature hover:transition hover:duration-500"></i></a>

            <a href="https://www.instagram.com/{{ site.data.site-settings.social.instagram_username }}/"><i class="fa-brands fa-instagram text-dark hover:text-feature hover:transition hover:duration-500"></i></a>

            <a href="https://www.linkedin.com/company/{{ site.data.site-settings.social.linkedin_username }}/"><i class="fa-brands fa-linkedin-in text-dark hover:text-feature hover:transition hover:duration-500"></i></a>
        </div>
    </div>

</footer>