---
layout: default
---

<!-- Header Section -->
<section class="grid grid-cols-2">

    <!-- Left Column / Text -->
    <div>
        <h1>{{ page.header.title_html }}</h1>
        <div>
            {{ page.header.description_html }}
        </div>
    </div>

    <!-- Right Column / Image -->
    <div class="bg-image-style" style="background-image: url('{{ page.header.image.image_path }}'); background-position: {{ page.header.image.image_focus }};"></div>
</section>


<!-- Benefits Section -->
<section>
    <h2>{{ page.benefits.heading_html }}</h2>

    {% assign half_size = page.benefits.benefits.size | divided_by: 2 %}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <ul>
            {% for item in page.benefits.benefits limit: half_size %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in page.benefits.benefits offset: half_size %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
</section>


<!-- Who It's For -->
<section class="grid md:grid-cols-2">

    <div class="grid lg:grid-cols-2">
  
      <!-- Image / Left Column -->
      <div class="relative w-[65%] md:w-[75%] lg:w-[100%] bg-image-style h-[50vh] md:min-h-[80vh] bg-overlay light" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.who-its-for.images.background-image.image_path }}'); background-position: {{ page.who-its-for.images.background-image.image_focus }};"></div>
    </div>
  
    <!-- Right Column -->
    <div class="pt-24 pb-20 px-8 lg:px-0 lg:mr-12 flex items-center md:ml-12">
      <div class="lg:w-[60%]" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        <h1 class="font-serif text-dark text-2xl">{{ page.who-its-for.heading_html }}</h1>
        <p class="text-[1.2rem]">{{ page.who-its-for.description_html }}</p>
      </div>
    </div>
  
    <!-- Floating Image -->
    <div class="bg-image-style absolute top-[10%] md:top-[30%] lg:top-[27%] left-[20%] md:left-[10%] lg:left-[18%] z-10 h-[45vh] lg:h-[60vh] w-[70vw] md:w-[45vw] lg:w-[25vw] rounded-t-[15rem]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500" style="background-image: url('{{ page.who-its-for.images.featured-image.image_path }}');"></div>
  
  </section>