---
layout: default
---

<!-- Header Section -->
<section class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 bg-main section-padding">

    <!-- Mobile / Top / Image -->
    <div class="md:hidden mb-12 bg-image-style min-h-[54vh] rounded-t-[50%]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.header.image.image_path }}'); background-position: {{ page.header.image.image_focus }};"></div>

    <!-- Left Column / Text -->
    <div class="lg:col-span-2 lg:w-[80%] flex items-center" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        <div>
            <h1 class="font-serif text-3xl text-dark mb-2">{{ page.header.title_html }}</h1>
            <div>
                {{ page.header.description_html }}
            </div>
        </div>
    </div>

    <!-- Right Column / Image -->
    <div class="hidden md:block bg-image-style min-h-[45vh] lg:min-h-[54vh] rounded-t-[50%]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.header.image.image_path }}'); background-position: {{ page.header.image.image_focus }};"></div>
</section>


<!-- Benefits Section -->
<section class="bg-midnight section-padding">
    <div data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        <h2 class="text-2xl font-serif text-white md:text-center mb-4 capitalize">{{ page.benefits.heading_html }}</h2>

        {% assign half_size = page.benefits.benefits.size | divided_by: 2 %}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-white ml-4 md:ml-0">
            <ul>
                {% for item in page.benefits.benefits limit: half_size %}
                <li class="mb-4 last:mb-0">{{ item }}</li>
                {% endfor %}
            </ul>

            <ul>
                {% for item in page.benefits.benefits offset: half_size %}
                <li class="mb-4 last:mb-0">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>


<!-- Who It's For -->
<section class="grid md:grid-cols-2 bg-light">

    <div class="grid lg:grid-cols-2">

        <!-- Image / Left Column -->
        <div class="relative">
            <div class="relative w-[65%] md:w-[75%] lg:w-[100%] bg-image-style h-[50vh] md:min-h-[75vh] lg:min-h-[80vh] bg-overlay light"
                data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000"
                style="background-image: url('{{ page.who-its-for.images.background-image.image_path }}'); background-position: {{ page.who-its-for.images.background-image.image_focus }};">
            </div>

            <!-- Floating Image -->
            <div class="absolute top-[23%] md:top-[20%] lg:top-[12%] left-[20%] md:left-[10%] lg:left-[60%] z-10 h-[45vh] lg:h-[60vh] w-[70vw] md:w-[45vw] lg:w-[25vw] bg-image-style"
                data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500"
                style="background-image: url('{{ page.who-its-for.images.featured-image.image_path }}'); background-position: {{ page.who-its-for.images.featured-image.image_focus }};">
            </div>
        </div>

    </div>

    <!-- Right Column -->
    <div class="flex items-center pt-28 pb-20 md:py-0 px-8 md:px-0">
        <div class="md:px-8 lg:pl-0 lg:pr-20" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
            <h1 class="font-serif text-dark text-2xl capitalize">{{ page.who-its-for.heading_html }}</h1>
            <p class="text-[1.2rem]">{{ page.who-its-for.description_html }}</p>
        </div>
    </div>

</section>


<!-- Approach / Methodology Section -->
<section class="relative lg:grid lg:grid-cols-3 gap-20 bg-main section-padding">

    <!-- Background Image (Mobile & Tablet) -->
    <div class="lg:hidden relative bg-image-style bg-overlay medium min-h-[55vh] md:w-[60vw] ml-auto" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.approach.images.background-image.image_path }}'); background-position: {{ page.images.featured-image.image_path }};"></div>

    <!-- Text -->
    <div class="col-span-2 flex items-center mt-12 lg:mt-0">
        <div class="lg:w-[80%]" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
            <h2 class="font-serif text-2xl mb-2 text-dark capitalize">{{ page.approach.heading_html }}</h2>
            <div>
                {{ page.approach.description_html }}
            </div>
            {% include button-cta.html %}
        </div>
    </div>

    <!-- Background Image (Desktop) -->
    <div class="hidden lg:block relative bg-image-style bg-overlay medium min-h-[70vh]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000" style="background-image: url('{{ page.approach.images.background-image.image_path }}'); background-position: {{ page.images.featured-image.image_path }};"></div>

    <!-- Floating Image -->
    <div class="bg-image-style absolute top-[10%] lg:top-[20%] right-0 lg:right-[14%] z-10 h-[43vh] lg:h-[60vh] w-[70vw] md:w-[45vw] lg:w-[25vw]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500" style="background-image: url('{{ page.approach.images.featured-image.image_path }}'); background-position: {{ page.approach.images.featured-image.image_focus }};"></div>
</section>


<!-- FAQ Section -->
<section class="bg-midnight text-white section-padding">
    <div data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        <h2 class="text-center font-serif text-2xl text-white mb-4">{{ page.faq.heading_html }}</h2>
        <ul class="list-none ml-0">
            {% for item in page.faq.questions %}
            <li x-data="{ open: false }" class="border border-white p-4 border-b-0 last:border-b-[1px]">
                <button @click="open = ! open" class="flex justify-between w-full">
                    <h3 class="text-left font-serif">{{item.question}}</h3>

                    <span x-show="!open">→</span>
                    <span x-show="open">&nbsp;&nbsp;↓</span>
                </button>
                <div x-show="open" @click.outside="open = false" class="">
                    <p class="last:mb-0">{{item.answer_html}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>


<!-- Call To Action -->
<section class="">

    <div class="grid md:grid-cols-2" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
    <!-- Left Column / Text -->
        <div class="py-20 lg:py-28 px-8 lg:px-20 flex items-center">
            <div>
                <h2 class="font-serif text-2xl text-dark mb-2 capitalize">{{ page.cta.heading_html }}</h2>
                <div>
                    {{ page.cta.description_html }}
                </div>
                {% include button-cta.html %}
            </div>
        </div>

        <!-- Right Column / Image -->
        <div class="order-first md:order-last mb-[10%] md:m-0 bg-contain bg-center bg-no-repeat h-40 md:h-[80%] mt-24 md:mt-12" style="background-image: url('{{ page.cta.image_path }}');"></div>
    </div>
</section>