---
layout: default
---

<!-- Header Section -->
<section class="grid grid-cols-3 bg-main py-20 lg:py-28 px-8 lg:px-20">

    <!-- Left Column / Text -->
    <div class="col-span-2 lg:w-[80%] flex items-center">
        <div>
            <h1 class="font-serif text-3xl text-dark mb-2">{{ page.header.title_html }}</h1>
            <div>
                {{ page.header.description_html }}
            </div>
        </div>
    </div>

    <!-- Right Column / Image -->
    <div class="bg-image-style min-h-[54vh] rounded-t-[50%]" style="background-image: url('{{ page.header.image.image_path }}'); background-position: {{ page.header.image.image_focus }};"></div>
</section>


<!-- Benefits Section -->
<section class="bg-dark py-20 lg:py-28 px-8 lg:px-20">
    <h2 class="text-2xl font-serif text-white text-center mb-4 capitalize">{{ page.benefits.heading_html }}</h2>

    {% assign half_size = page.benefits.benefits.size | divided_by: 2 %}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-white">
        <ul>
            {% for item in page.benefits.benefits limit: half_size %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in page.benefits.benefits offset: half_size %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
</section>


<!-- Who It's For -->
<section class="grid md:grid-cols-2">

    <div class="grid lg:grid-cols-2">

        <!-- Image / Left Column -->
        <div class="relative">
            <div class="relative w-[65%] md:w-[75%] lg:w-[100%] bg-image-style h-[50vh] md:min-h-[80vh] bg-overlay light"
                data-aos="fade-up" data-aos-offset="0" data-aos-duration="2000"
                style="background-image: url('{{ page.who-its-for.images.background-image.image_path }}'); background-position: {{ page.who-its-for.images.background-image.image_focus }};">
            </div>

            <!-- Floating Image -->
            <div class="absolute top-[12%] left-[60%] z-10 h-[45vh] lg:h-[60vh] w-[70vw] md:w-[45vw] lg:w-[25vw]"
                data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500"
                style="background-image: url('{{ page.who-its-for.images.featured-image.image_path }}'); background-position: {{ page.who-its-for.images.featured-image.image_focus }};">
            </div>
        </div>

    </div>

    <!-- Right Column -->
    <div class="flex items-center">
        <div class="pr-20" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
            <h1 class="font-serif text-dark text-2xl capitalize">{{ page.who-its-for.heading_html }}</h1>
            <p class="text-[1.2rem]">{{ page.who-its-for.description_html }}</p>
        </div>
    </div>

</section>


<!-- Approach / Methodology Section -->
<section class="grid grid-cols-3">

    <!-- Left Column / Text -->
    <div class="col-span-2">
        <h2>{{ page.approach.heading_html }}</h2>
        <div>
            {{ page.approach.description_html }}
        </div>
        <a href="{{ page.approach.button.url }}">{{ page.approach.button.text }}</a>
    </div>

    <!-- Right Column -->
    <div class="relative bg-image-style" style="background-image: url('{{ page.approach.images.background-image.image_path }}'); background-position: {{ page.images.featured-image.image_path }};"></div>

    <!-- Floating Image -->
    <div class="bg-image-style absolute top-[10%] md:top-[30%] lg:top-[27%] left-[20%] md:left-[10%] lg:left-[18%] z-10 h-[45vh] lg:h-[60vh] w-[70vw] md:w-[45vw] lg:w-[25vw] rounded-t-[15rem]" data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500" style="background-image: url('{{ page.approach.images.featured-image.image_path }}'); background-position: {{ page.approach.images.featured-image.image_focus }};"></div>
</section>


<!-- FAQ Section -->
<section>
    <h2>{{ page.faq.heading_html }}</h2>
    <ul class="list-none ml-0">
        {% for item in page.faq.questions %}
        <li x-data="{ open: false }" class="border-b border-dark my-8">
            <button @click="open = ! open" class="flex justify-between w-full">
                <h3 class="text-left mb-8 mr-8">{{item.question}}</h3>

                <span x-show="!open">→</span>
                <span x-show="open">&nbsp;&nbsp;↓</span>
            </button>
            <div x-show="open" @click.outside="open = false" class="pb-8">
                <p class="mb-8 mr-8 italic">{{item.answer_html}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>


<!-- Call To Action -->
<section class="grid grid-cols-3">

    <!-- Left Column / Text -->
    <div>
        <h2>{{ page.cta.heading_html }}</h2>
        <div>
            {{ page.cta.description_html }}
        </div>
        <a href="{{ page.cta.button.url }}">{{ page.cta.button.url }}</a>
    </div>

    <!-- Right Column / Image -->
    <div class="col-span-2 bg-contain bg-center bg-no-repeat" style="background-image: url('{{ page.cta.image_path }}');"></div>
</section>